@model IEnumerable<Core.Model.AracBilgileri>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
<script src="//cdn.datatables.net/tabletools/2.2.4/js/dataTables.tableTools.min.js"></script>
<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css" />
<link rel="stylesheet" type="text/css"
      href="//cdn.datatables.net/tabletools/2.2.4/css/dataTables.tableTools.css" />


<script>
$(document).ready(function () {
    $('#datatable').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'copy', 'csv', 'excel', 'pdf', 'print'
            ]
        });
    });
</script>
<p>
    <a asp-action="AracBilgileriSave">Create New</a>
</p>
<table class="table table table-striped " id="datatable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kaynak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sasi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlakaKodu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AraçTanımı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelYıl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Seri)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Renk)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plaka)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Motor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Km)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SonGelisTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrafigeCikalıKaçYilOlmus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsEmriAdeti)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenelToplam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SonFaturaTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GeçenGünSayısı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aciklama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiat)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Kaynak)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Marka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sasi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PlakaKodu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AraçTanımı)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelYıl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Seri)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Renk)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Plaka)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Motor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Km)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SonGelisTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrafigeCikalıKaçYilOlmus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsEmriAdeti)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GenelToplam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SonFaturaTarihi)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GeçenGünSayısı)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Aciklama)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fiat)
                </td>
                <td>
                    <a asp-action="AracBilgileriUpdate" asp-route-id="@item.AracId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.AracId">Details</a> |
                    <a asp-action="AracBilgileriDelete" asp-route-id="@item.AracId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
