@model Core.Model.Anket

@{
    ViewData["Title"] = "AnketDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AnketDelete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Anket</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TekrarAramaTarihiCevapsız)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TekrarAramaTarihiCevapsız)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiatTekilifiVerildi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiatTekilifiVerildi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiatTekifiHatırlatmaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiatTekifiHatırlatmaTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fiat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fiat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuAldimi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuAldimi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuDanişmanı)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuDanişmanı)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RandevuNedeni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RandevuNedeni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaskaSevis)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaskaSevis)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YetkilimiÖzelmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YetkilimiÖzelmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İslemBaskaServisİsmi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İslemBaskaServisİsmi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.İslemBaskaServisYapılısTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.İslemBaskaServisYapılısTarihi)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sonuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sonuc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DosyaDurumu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DosyaDurumu)
        </dd>
    </dl>
    
    <form asp-action="AnketDelete">
        <input type="hidden" asp-for="AnketId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
