@model IEnumerable<Core.Model.Anket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TekrarAramaTarihiCevapsız)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiatTekilifiVerildi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FiatTekifiHatırlatmaTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fiat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuAldimi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuDanişmanı)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RandevuNedeni)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaskaSevis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YetkilimiÖzelmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.İslemBaskaServisİsmi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.İslemBaskaServisYapılısTarihi)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sonuc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DosyaDurumu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TekrarAramaTarihiCevapsız)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiatTekilifiVerildi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FiatTekifiHatırlatmaTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fiat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuAldimi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuDanişmanı)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RandevuNedeni)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BaskaSevis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YetkilimiÖzelmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.İslemBaskaServisİsmi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.İslemBaskaServisYapılısTarihi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sonuc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DosyaDurumu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnketId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AnketId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AnketId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
